/*
  Create :2015/3/14 22:52
  Author A.Sato (@66thGALM MobiusOne.org)

  作っちゃったぜCSS。ファイル名からしてやる気のなさが伺える。
  控えめに言ってゴミ。プログラマにCSSを書かすな。
  ヘッダフッタボタン以外はなくても別に困らない。
  統一性がないので読みづらいことまちがいなし。

  今日はRed Bullもサラミも無い。鬱だ。
*/

body{
	background-color: rgba(0,0,0,0.25);
	margin: 0px;
	padding: 0px;
	position: relative;
}

div#body{
	font-size: 24px;
	width: 100%-240;
	height: 100%;
	padding: 84px 120px 132px 120px;
}

div#body>a:link,div#body>a:visited,div#body>a:active,div#body>a:hover{
	color : #000000;
}
#resetform>a:link,#resetform>a:visited,#resetform>a:active,#resetform>a:hover{
	color : #000000;
}
div#header-fixed
{
	background-color:rgba(0,0,0,0.5);
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 72px;
}

div#footer-fixed
{
	background-color:rgba(0,0,0,0.5);
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 132px;
}

div#loginform{
	width: 100%-120px;
	padding: 24px 60px;
	border: medium #000000 solid;
}

div#menu{
	text-align: left;
	float: left;
}
div#setting{
	text-align: right;
}

div#header {
	padding-right: 60px;
	padding-left: 60px;
	padding-top: 12px;
	padding-bottom: 0px;
	height: 100%;
	width: 100%-120;
	margin: auto;
}

div#footer {
	padding-right: 60px;
	padding-left: 60px;
	padding-top: 12px;
	padding-bottom: 12px;
	height: 100%;
	width: 100%-120;
	margin: auto;
}

#footer {
	font-size: 36px;
	text-decoration : none;
	color : #ffffff;
}


#menu>a:link,#menu>a:visited,#menu>a:active,#menu>a:hover{
	font-size: 48px;
	text-decoration : none;
	color : #ffffff;
}

input{
	font-size: 100%;
}

button {
	font-size: 24px;
	padding: 6px 12px;
	margin: 6px 3px;
	border-style: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

button.loginbutton{
}

button.wait{
	width: 72px;
	background-color: #F4511E;
}
button.wait:hover{
	width: 72px;
	background-color: #FF7043;
}

button.receive{
	width: 72px;
	background-color: #039BE5;
}
button.receive:hover{
	width: 72px;
	background-color: #29B6F6;
}

button.error{
	width: 72px;
	background-color: #FDD835;
}
button.error:hover{
	width: 72px;
	background-color: #FFEE58;
}